importFrom(partitions, setparts)
#import(gmp)
#importFrom(pi0,combn2R)
##importExcept(Matrix, summary, update)




export(
	mrppBVS,
	mrppBVS.test,
	bw.mse.pdf.asym,
	get.dp.dw.kde,
	get.p.dd.dw,
	permuteTrt,
	mrpp.test, 
	FR2dec, 
	dec2FR,
	dec2permvec,
	FR2permvec,
	permvec2dec,
	permvec2FR, 
	HSEL.bigz, 
	sample1, 
	nparts
)


S3method(mrpp.test, formula)
S3method(mrpp.test, dist)
S3method(mrpp.test, default)

S3method(smrpp.test, default)

useDynLib(MRPP)
